* {
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background: #dacdcd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor {
    width: 920px;
    height: 280px;
    margin: 0 auto;
    margin-top: 7%;
    
    position: relative;

    background:rgb(194, 222, 233);/*linear-gradient(#90ebff, white);*/
    transition: background-color 1s linear;
    overflow: hidden;
}

.mediodia {
    background-color: rgb(146, 181, 245);
}

.tarde {
    background-color: rgb(146, 181, 245);
}

.noche {
    background-color: rgb(146, 181, 245);
}

.dino {
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(img_nadando/dino2.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;

}

.dino-corriendo {
    animation: animarDino 0.25s steps(2) infinite;
}
.dino-muerto {
    /*width: 84px;
    height: 84px;
    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;
    background-position-x: -252px;
    /*background: url(img/muerto.png);
    background-size: 85px 90px;
    background-position-X: 0PX;*/
    background-position-x: -252px;
}

.suelo {
    width: 200%;
    height: 42px;

    position: absolute;
    bottom: 0;
    left: 0;

    background: url(img/suelo2.png) repeat-x 0px 0px;
    background-size: 50% 42px;

}

.cactus{
    width: 46px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(img/cactus4.png) no-repeat;
}
.cactus2{
    width: 98px;
    height: 66px;

    background: url(img/cactus3.png) no-repeat;
}

.nube{
    width: 92px;
    height: 26px;

    position: absolute;
    z-index: 0;

    background: url(img/nube.png) no-repeat;
    background-size: 92px 26px;
}

.score{
    width: 100px;
    height: 30px;

    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;

    color: #d48871;
    font-family: Verdana;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.game-over{
    display: none;

    position: absolute;
    width: 100%;


    text-align: center;
    color: #7e928b;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;
}

@keyframes animarDino{
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: -252px;
    }
}


/* MODAL */

.modal {
    display: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-container {
    background-color: var(--bg-color);
    padding: 30px;
    width: 350px;
    max-width: 100vw;
    max-height: 100vh;
    border-radius: 3px;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal.wide .modal-container {
    width: 650px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25;
    color: var(--text-color);
    box-sizing: border-box;
}

.modal-icon {
    height: 45px;
    width: 45px;
    vertical-align: middle;
    margin-right: 5px;
}

.modal-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
}

.modal-text img {
    width: 100%;
    max-height: calc(100vh - 200px);
    object-fit: contain;
}

.modal-button {
    font-size: 0.875rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 0.25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    /* -webkit-appearance: button; */
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    padding: 0.5rem 1rem;
}
/* botones */
.boton{
    height: 30px;
    width: 90px;
    background-color: #ec93d2;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    margin: 10px 5px;
    position: relative;
    margin-top: 5%;
}
.sig{
    text-align: center;
    text-decoration: none;
    color: black;
}